* {
  margin: 0px;
  padding: 0px;
}
* h2 {
  color: white;
  font-family: Arial, sans-serif;
}
* h1 {
  color: white;
  font-family: Arial, sans-serif;
}
* p {
  font-family: Tahoma, sans-serif;
}
* button {
  cursor: pointer;
  background: none;
  border: none;
}

body {
  width: 60vw;
  height: 45vw;
}
body .startup {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .startup__button {
  width: 10%;
}
body .startup__button img {
  width: 100%;
}
body .loading {
  background-color: black;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  gap: 10%;
  justify-content: center;
  align-items: center;
}
body .loading-logo {
  width: min-content;
  display: flex;
  flex-direction: column;
}
body .loading-logo__top {
  display: flex;
  gap: 5%;
  align-items: end;
}
body .loading-logo__top h2 {
  font-size: 2.5vw;
}
body .loading-logo__top img {
  width: 10vw;
  margin-bottom: -5%;
}
body .loading-logo h1 {
  margin-top: -5%;
  font-size: 4.6vw;
}
body .loading__bar {
  padding: 0.3%;
  width: 25%;
  height: 3%;
  border: 0.23vw solid gray;
  border-radius: 0.5vw;
  background-color: black;
  display: flex;
  align-items: center;
  gap: 1%;
}
@keyframes load {
  from {
    left: 0%;
  }
  to {
    left: 85%;
  }
}
body .loading__bar div {
  background-color: #6582f3;
  height: 100%;
  width: 6%;
  position: relative;
  animation: load 1.5s steps(12) infinite;
}
body .welcome {
  height: 100%;
  width: 100%;
  background-color: #5a7edc;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
body .welcome div {
  width: 100%;
  height: 15%;
  background-color: #00309c;
}
body .welcome h1 {
  font-style: italic;
  margin-right: 30%;
  font-size: 3vw;
}
body .desktop {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("../assets/background.png");
  background-size: 100%;
}
body .desktop-window {
  display: none;
  position: absolute;
  left: 30%;
  top: 3%;
  height: 35vw;
  width: 35vw;
  border: 0.2vw solid #00309c;
  border-top: 2vw solid #00309c;
  border-top-left-radius: 0.5vw;
  border-top-right-radius: 0.5vw;
  background-color: white;
}
body .desktop-window__escape {
  width: 1.2vw;
  position: absolute;
  top: -1.55vw;
  right: 0.3vw;
}
body .desktop-window-explorer {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
}
body .desktop-window-explorer-address {
  margin-top: 0%;
  font-size: 1vw;
  display: flex;
  height: 5%;
  flex-direction: row;
  gap: 0.5vw;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  background-color: #eeecdb;
}
body .desktop-window-explorer-address__url {
  width: 100%;
  height: 85%;
  border: 0.1vw solid black;
}
body .desktop-window-explorer-address button {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  align-items: center;
  font-size: 1vw;
}
body .desktop-window-explorer-address__search {
  width: 1.5vw;
}
body .desktop-window-explorer-favourites {
  border: 0.1vw solid black;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  gap: 0.5vw;
  font-size: 1vw;
  height: 5%;
}
body .desktop-window-explorer-favourites p {
  font-weight: bold;
}
body .desktop-window-explorer-pages {
  width: 35vw;
  height: 35vw;
}
body .desktop-window-explorer-pages-google {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
body .desktop-window-explorer-pages-google img {
  width: 20vw;
}
body .desktop-window-explorer-pages-google__input {
  width: 20vw;
  height: 1.6vw;
  border: 0.1vw solid black;
  font-size: 1.2vw;
}
body .desktop-window-explorer-pages-google__btn {
  width: 5vw;
  height: 1.6vw;
  background-color: #ebebeb;
  border: 0.1vw solid #c2c2c2;
  font-size: 1.2vw;
}
body .desktop-window-explorer-pages-facebook {
  display: block;
  height: 100%;
  background-color: #e8eaee;
}
body .desktop-window-explorer-pages-facebook__header {
  padding: 0.2vw;
  padding-left: 1vw;
  font-size: 2vw;
  background-color: #4c7da8;
  margin-bottom: 1vw;
}
body .desktop-window-explorer-pages-facebook-content {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}
body .desktop-window-explorer-pages-facebook-content h2 {
  color: black;
  font-size: 2vw;
  margin-bottom: 1vw;
}
body .desktop-window-explorer-pages-facebook-content img {
  width: 9vw;
  height: 12vw;
  margin-left: 1vw;
}
body .desktop-window-explorer-pages-facebook-content-posts__post {
  font-size: 1.3vw;
  background-color: white;
  width: 23vw;
  height: max-content;
}
body .desktop-window-explorer-pages-error {
  font-size: 1.3vw;
  display: none;
  flex-direction: column;
  gap: 1vw;
}
body .desktop-shortcuts {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: relative;
  top: 0.5vw;
  left: 0.5vw;
  gap: 1.5vw;
}
body .desktop-shortcuts-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8vw;
  font-size: 1vw;
}
body .desktop-shortcuts-btn-image {
  width: min-content;
  position: relative;
}
body .desktop-shortcuts-btn-image__icon {
  width: 4vw;
}
body .desktop-shortcuts-btn-image__shortcut {
  position: absolute;
  top: 3vw;
  right: 3vw;
  width: 1vw;
}
body .desktop-menu {
  display: none;
  width: 35%;
  height: 50%;
  position: absolute;
  top: 26.7%;
  background-color: #d3e5fa;
  border: 0.1vw solid #00309c;
  border-bottom: 3.5vw solid #00309c;
  border-top: 4vw solid #00309c;
  border-top-left-radius: 0.5vw;
  border-top-right-radius: 0.5vw;
}
body .desktop-menu-content {
  height: 100%;
  width: 50%;
  background-color: white;
  position: relative;
}
body .desktop-menu-content h2 {
  font-size: 1.3vw;
  position: absolute;
  bottom: 105%;
  left: 10%;
}
body .desktop-menu-content__apps {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5vw;
  position: relative;
  top: 0.5vw;
  left: 0.2vw;
}
body .desktop-menu-content__apps button {
  display: flex;
  flex-direction: row;
  font-size: 0.95vw;
  justify-content: center;
  align-items: center;
  gap: 0.2vw;
}
body .desktop-menu-content__apps button img {
  width: 2.4vw;
}
body .desktop-menu-content__shutdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
  position: absolute;
  top: 104.5%;
  left: 125%;
}
body .desktop-menu-content__shutdown img {
  width: 1.6vw;
}
body .desktop-menu-content__shutdown p {
  color: white;
  font-size: 0.9vw;
  width: max-content;
}
body .desktop-taskbar {
  width: 100%;
  height: 7%;
  background-color: #00309c;
  position: absolute;
  top: 93%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .desktop-taskbar__start {
  height: 100%;
  width: 15%;
  background-color: #45a945;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
body .desktop-taskbar__start img {
  width: 2vw;
  height: 2vw;
}
body .desktop-taskbar__start h2 {
  font-style: italic;
  font-size: 1.7vw;
  margin-right: 25%;
}
body .desktop-taskbar__icons {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 3%;
  width: 65%;
}
body .desktop-taskbar__icons button {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  height: 100%;
  color: white;
  font-size: 1vw;
}
body .desktop-taskbar__icons button img {
  height: 60%;
}
body .desktop-taskbar__time {
  width: 15%;
  background-color: #5a7edc;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .desktop-taskbar__time p {
  color: white;
  font-size: 1vw;
  position: absolute;
  right: 3%;
}

/*# sourceMappingURL=style.css.map */
