* {
  margin: 0px;
  padding: 0px;
  & h2 {
    color: white;
    font-family: Arial, sans-serif;
  }
  & h1 {
    color: white;
    font-family: Arial, sans-serif;
  }
  & p {
    font-family: Tahoma, sans-serif;
  }
  & button {
    cursor: pointer;
    background: none;
    border: none;
  }
}

body {
  width: 60vw;
  height: 45vw;
  & .startup {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    &__button {
      width: 10%;
      & img {
        width: 100%;
      }
    }
  }
  & .loading {
    background-color: black;
    width: 100%;
    height: 100%;

    display: none;
    flex-direction: column;
    gap: 10%;
    justify-content: center;
    align-items: center;

    &-logo {
      width: min-content;
      display: flex;
      flex-direction: column;

      &__top {
        display: flex;
        gap: 5%;
        align-items: end;
        & h2 {
          font-size: 2.5vw;
        }
        & img {
          width: 10vw;
          margin-bottom: -5%;
        }
      }
      & h1 {
        margin-top: -5%;
        font-size: 4.6vw;
      }
    }
    &__bar {
      padding: 0.3%;
      width: 25%;
      height: 3%;
      border: 0.23vw solid gray;
      border-radius: 0.5vw;
      background-color: black;
      display: flex;
      align-items: center;
      gap: 1%;
      @keyframes load {
        from {
          left: 0%;
        }
        to {
          left: 85%;
        }
      }
      & div {
        background-color: #6582f3;
        height: 100%;
        width: 6%;
        position: relative;
        animation: load 1.5s steps(12) infinite;
      }
    }
  }
  & .welcome {
    height: 100%;
    width: 100%;
    background-color: #5a7edc;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    & div {
      width: 100%;
      height: 15%;
      background-color: #00309c;
    }
    & h1 {
      font-style: italic;
      margin-right: 30%;
      font-size: 3vw;
    }
  }
  & .desktop {
    // display: none;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("../assets/background.png");
    background-size: 100%;

    &-window {
      display: none;
      position: absolute;
      left: 30%;
      top: 3%;
      height: 35vw;
      width: 35vw;
      border: 0.2vw solid #00309c;
      border-top: 2vw solid #00309c;
      border-top-left-radius: 0.5vw;
      border-top-right-radius: 0.5vw;
      background-color: white;
      &__escape {
        width: 1.2vw;
        position: absolute;
        top: -1.55vw;
        right: 0.3vw;
      }
      &-explorer {
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;

        &-address {
          margin-top: 0%;
          font-size: 1vw;
          display: flex;
          height: 5%;
          flex-direction: row;
          gap: 0.5vw;
          justify-content: space-between;
          align-items: center;
          padding-left: 0.5vw;
          padding-right: 0.5vw;
          background-color: #eeecdb;

          &__url {
            width: 100%;
            height: 85%;
            border: 0.1vw solid black;
          }
          & button {
            display: flex;
            flex-direction: row;
            gap: 0.5vw;
            align-items: center;
            font-size: 1vw;
          }
          &__search {
            width: 1.5vw;
          }
        }
        &-favourites {
          border: 0.1vw solid black;
          display: flex;
          align-items: center;
          flex-direction: row;
          padding-left: 0.5vw;
          padding-right: 0.5vw;
          gap: 0.5vw;
          font-size: 1vw;
          height: 5%;
          & p {
            font-weight: bold;
          }
        }
        &-pages {
          width: 35vw;
          height: 35vw;
          &-google {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10%;
            & img {
              width: 20vw;
            }
            &__input {
              width: 20vw;
              height: 1.6vw;
              border: 0.1vw solid black;
              font-size: 1.2vw;
            }
            &__btn {
              width: 5vw;
              height: 1.6vw;
              background-color: #ebebeb;
              border: 0.1vw solid #c2c2c2;
              font-size: 1.2vw;
            }
          }
          &-facebook {
            display: block;
            height: 100%;
            background-color: #e8eaee;
            &__header {
              padding: 0.2vw;
              padding-left: 1vw;
              font-size: 2vw;
              background-color: #4c7da8;
              margin-bottom: 1vw;
            }
            &-content {
              display: flex;
              flex-direction: row;
              gap: 1vw;
              & h2 {
                color: black;
                font-size: 2vw;
                margin-bottom: 1vw;
              }
              & img {
                width: 9vw;
                height: 12vw;
                margin-left: 1vw;
              }
              &-posts__post {
                font-size: 1.3vw;
                background-color: white;
                width: 23vw;
                height: max-content;
              }
            }
          }
          &-error {
            font-size: 1.3vw;

            display: none;
            flex-direction: column;
            gap: 1vw;
          }
        }
      }
    }

    &-shortcuts {
      width: max-content;
      display: flex;
      flex-direction: column;
      justify-content: left;
      position: relative;
      top: 0.5vw;
      left: 0.5vw;
      gap: 1.5vw;

      &-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 8vw;
        font-size: 1vw;

        &-image {
          width: min-content;
          position: relative;
          &__icon {
            width: 4vw;
          }
          &__shortcut {
            position: absolute;
            top: 3vw;
            right: 3vw;
            width: 1vw;
          }
        }
      }
    }

    &-menu {
      display: none;
      width: 35%;
      height: 50%;
      position: absolute;
      top: 26.7%;
      background-color: #d3e5fa;
      border: 0.1vw solid #00309c;
      border-bottom: 3.5vw solid #00309c;
      border-top: 4vw solid #00309c;
      border-top-left-radius: 0.5vw;
      border-top-right-radius: 0.5vw;
      &-content {
        height: 100%;
        width: 50%;
        background-color: white;
        position: relative;
        & h2 {
          font-size: 1.3vw;
          position: absolute;
          bottom: 105%;
          left: 10%;
        }
        &__apps {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 0.5vw;
          position: relative;
          top: 0.5vw;
          left: 0.2vw;
          & button {
            display: flex;
            flex-direction: row;
            font-size: 0.95vw;
            justify-content: center;
            align-items: center;
            gap: 0.2vw;
            & img {
              width: 2.4vw;
            }
          }
        }
        &__shutdown {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.5vw;
          position: absolute;
          top: 104.5%;
          left: 125%;
          & img {
            width: 1.6vw;
          }
          & p {
            color: white;
            font-size: 0.9vw;
            width: max-content;
          }
        }
      }
    }

    &-taskbar {
      width: 100%;
      height: 7%;
      background-color: #00309c;
      position: absolute;
      top: 93%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &__start {
        height: 100%;
        width: 15%;
        background-color: #45a945;
        border-top-right-radius: 1vw;
        border-bottom-right-radius: 1vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5%;
        & img {
          width: 2vw;
          height: 2vw;
        }
        & h2 {
          font-style: italic;
          font-size: 1.7vw;
          margin-right: 25%;
        }
      }
      &__icons {
        display: flex;
        flex-direction: row;
        position: relative;
        gap: 3%;
        width: 65%;

        & button {
          display: flex;
          align-items: center;
          flex-direction: row;
          gap: 1vw;
          padding-left: 1vw;
          padding-right: 1vw;
          height: 100%;
          color: white;
          font-size: 1vw;
          // background-color: #5a7edc;

          & img {
            height: 60%;
          }
        }
      }
      &__time {
        width: 15%;
        background-color: #5a7edc;
        display: flex;
        justify-content: center;
        align-items: center;
        & p {
          color: white;
          font-size: 1vw;
          position: absolute;
          right: 3%;
        }
      }
    }
  }
}
