* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 60vw;
  height: 45vw;
  & .start {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    &__button {
      background: none;
      border: 0px;
      width: 10%;
      cursor: pointer;
      & img {
        width: 100%;
      }
    }
  }
  
}
